networkx==3.6.1
numba==0.64.0
numpy==2.4.2
openai-whisper==20250625
packaging==26.0
pdfminer.six==20251230
pdfplumber==0.11.9
Flask==3.0.3
gunicorn==23.0.0

beautifulsoup4
deep-translator
gTTS
huggingface-hub
lxml
networkx
nltk
numba
numpy
openai-whisper
packaging
pdfminer.six
pdfplumber
Pillow
python-dotenv
reportlab
requests
sumy
torch
torchaudio
torchvision
Werkzeug
youtube-transcript-api
yt-dlp
